@font-face{
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  src: url("helvetica-light-587ebe5a59211.ttf"); /* IE9 Compat Modes */
  src: local("Helvetica"), url("helvetica-light-587ebe5a59211.ttf");
}

@font-face{
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("Helvetica.ttf"); /* IE9 Compat Modes */
  src: local("Helvetica"), url("Helvetica.ttf");
}

@font-face{
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("Helvetica-Bold.ttf"); /* IE9 Compat Modes */
  src: local("Helvetica"), url("Helvetica-Bold.ttf");
}