.RadioPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 20%;
}

.RadioPlayer img {
  width: 100%;
}

.RadioPlayer .radio-logo {
  margin-bottom: 5rem;
}

.RadioPlayer .play-btn {
  filter: invert(100%) sepia(11%) saturate(2368%) hue-rotate(150deg)
    brightness(123%) contrast(111%);
  width: 40px;
  position: absolute;
  top: 33%;
  left: 47%;
  cursor: pointer;
}

.RadioPlayer .range {
  display: flex;
  align-items: center;
}

.RadioPlayer .volume-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 15px;
  filter: invert(100%) sepia(11%) saturate(2368%) hue-rotate(150deg)
    brightness(123%) contrast(111%);
}

@media (max-width: 770px) {
  .RadioPlayer {
    width: 50%;
  }

  .RadioPlayer .play-btn {
    top: 36%;
  }

  .RadioPlayer .range {
    display: none;
  }
}

@media (max-width: 430px) {
  .RadioPlayer {
    width: 90%;
  }

  .RadioPlayer img {
    width: 80%;
    margin: 0 auto;
  }

  .RadioPlayer .play-btn {
    top: 34%;
    left: 47%;
    width: 33px;
  }
}
